environment:
  build_version: 9.4.2
version: $(build_version)-{build}
image: Visual Studio 2022
configuration: Release
skip_commits:
  files:
    - .github/
    - '**/*.md'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(build_version)
  package_version: $(build_version)
  assembly_version: $(build_version)
  file_version: $(build_version)
  informational_version: $(build_version)
install:
- ps: |
    dotnet tool install -g InheritDocTool
    Invoke-WebRequest 'https://dot.net/v1/dotnet-install.ps1' -OutFile dotnet-install.ps1
    ./dotnet-install.ps1 -Channel 5.0
build_script:
- cmd: echo __BUILD__
- dotnet restore src/ConfigCatClient.sln
- dotnet build -c %configuration% /p:ContinuousIntegrationBuild=true src/ConfigCatClient.sln
after_build:
- cmd: echo __PACK__
- inheritdoc -o
- dotnet pack -c %configuration% --no-build /p:PackageOutputPath=..\..\artifacts src\ConfigCatClient\ConfigCatClient.csproj
test_script:
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f net45 -c %configuration% --no-build
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f net461 -c %configuration% --no-build
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f netcoreapp3.1 -c %configuration% --no-build
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f net5.0 -c %configuration% --no-build
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f net6.0 -c %configuration% --no-build
- dotnet test src\ConfigCat.Client.Tests\ConfigCat.Client.Tests.csproj -f net8.0 -c %configuration% --no-build
artifacts:
- path: artifacts\ConfigCat.Client.*.*nupkg
  name: NuGet
notifications:
- provider: Email
  to:
  - developer@configcat.com
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false
