@{
    ViewData["Title"] = "ConfigCat Sample App";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
    &nbsp;
    <h4>isAwesomeFeatureEnabled's value: @ViewData["Message1"]</h4>
    <h4>isPOCFeatureEnabled's value: @ViewData["Message2"]</h4>
</div>
